<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta name="description" content="Desenvolvedor Front-end e UI Designer - Samuk Dev">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="assets/js/fontawesome.js"></script>
  <link defer rel="stylesheet" href="assets/css/modal.css">
  <link rel="preload" href="assets/css/fontface.css" as="style">
  <link defer rel="stylesheet" href="assets/css/bulma.min.css">
  <link defer rel="stylesheet" href="assets/css/fontface.css">
  <link defer rel="stylesheet" href="assets/css/keyframes.css">
  <link defer rel="stylesheet" href="assets/css/main.css">
  <link defer rel="stylesheet" href="assets/css/galeria.css">

  <link rel="shortcut icon" href="assets/ico/favicon.ico" />
  <title>Samuk Dev</title>
</head>

<body>
  <div id="app">

    <!-- MODAL IMAGEM -->
    <transition name="fade">
      <div class="modal-overlay" v-if="showModal" @click="showModal = false"></div>
    </transition>
    <transition name="slide">
      <div class="modalcontainer" v-if="showModal">
        <div class="clicafecha" @click="showModal = false"></div>
        <div class="modalImagem">
          <div class="has-text-right" @click="showModal = false">
            <span>
              <i class="far fa-2x fa-times-circle mx-2 my-2 has-text-grey-lighter"></i>
            </span>

          </div>
          <img :src="imagemModal.caminho" :alt="imagemModal.alt">
          <a :href="imagemModal.link" target="_blank" rel="noopener noreferrer"
            class="button is-white is-outlined mx-1 mt-2"><i
              class="fab fa-lg fa-dribbble has-text-grey-lighter mr-3"></i>Ver
            detalhes no
            dribbble</a>
          <div class="has-text-right">

          </div>
        </div>
      </div>
    </transition>
    <!-- MOBILE ONLY -->
    <!-- NAVBAR -->
    <nav class="sticky is-hidden-desktop" id="nav">

      <transition name="slide-fade-top">
        <div id="bg-sticky" v-if="!menuIsVisible && menuIsSticky" class="sticky bg-sticky sticky-active"></div>
      </transition>
      <transition name="slide-fade-top">
        <div class="navbar" v-if="!menuIsVisible">

          <div class="my-nav-brand">
            <img src="assets/img/logo.svg" alt="logo_samukdev">
          </div>

          <div class="my-nav-itens">
            <ul>
              <li><a :href="links.dribbble.link" target="_blank" class="button is-danger is-rounded mx-1"
                  rel="noopener noreferrer"><i class="fas fa-eye mr-2"></i>
                  Portfolio</a></li>
              <li @click="menuIsVisible = !menuIsVisible"><i class="fas fa-2x fa-bars mx-1"></i></li>
            </ul>
          </div>

        </div>
      </transition>
    </nav>

    <!-- HOME  MOBILE-->
    <section class="section is-hidden-desktop has-text-left" id="home">
      <div>
        <h1>Eu crio<br>experiências<br>incríveis.</h1>
        <h2>Desenvolvedor Front-end<br>UX/UI Designer</h2>
      </div>
    </section>
    <!-- HOME DESKTOP -->
    <section class="section is-hidden-touch" id="home1">
      <div class="container">
        <nav class="" id="nav">
          <transition name="slide-fade-top">
            <div class="navbar" v-if="!menuIsVisible">

              <div class="my-nav-brand">
                <img src="assets/img/logo.svg" alt="">
              </div>

              <div class="my-nav-itens">
                <ul>
                  <li><a :href="links.dribbble.link" target="_blank" class="button is-danger is-rounded mx-1"
                      rel="noopener noreferrer"><i class="fas fa-eye mr-2"></i>
                      Portfolio</a></li>

                </ul>
              </div>

            </div>
          </transition>
        </nav>
      </div>
      <div id="home">
        <div class="container">
          <h1>Eu crio experiências incríveis.</h1>
          <h2>Desenvolvedor Front-end<br>UX/UI Designer</h2>
          <div class="medialinks">
            <ul>
              <li>
                <a :href="links.linkedin.link" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-lg fa-linkedin-in  has-text-grey-lighter"></i></a>
                <a :href="links.github.link" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-lg fa-github has-text-grey-lighter"></i></a>
                <a :href="links.dribbble.link" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-lg fa-dribbble has-text-grey-lighter"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div class="container-my">
      <div id="containerpai">


        <section class="galeria">
          <div class="header-galeria">
            <div>Meus trabalhos</div>
            <div class="has-text-danger"><a :href="links.dribbble.link" target="_blank" rel="noopener noreferrer"
                style="color: inherit;">&mdash;
                Ver
                todos
              </a></div>
          </div>

          <div class="" style="position: relative;">

            <div class="previous is-hidden-mobile" onclick="anterior()"><i class="fas fa-3x fa-chevron-left"></i></div>
            <div class="next is-hidden-mobile" onclick="proximo()"><i class="fas fa-3x fa-chevron-right"></i></div>

            <div class="conteudo-galeria" id="galeria">
              <figure class="card-galeria image" v-for="projeto in projetos" @click="abrirModal(projeto)">
                <img class="br-cardimage" :src="projeto.miniatura" :alt="projeto.alt">
              </figure>

            </div>
          </div>

        </section>

        <div class="columns">
          <div class="column">
            <section class="section pt-3" id="aboutmecard">
              <div class="card-me">
                <div class="columns is-mobile aboutmecardcontainer">
                  <div class="column  coluna-imagem">



                    <figure>
                      <img alt="Samuel Barbosa - Frontend Developer" src="assets/img/me.webp">
                    </figure>


                  </div>
                  <div class="column">

                    <ul class="media-links">
                      <li><a :href="links.github.link" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-github"></i>
                          Github</a></li>
                      <li><a :href="links.dribbble.link" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-dribbble"></i>
                          Dribbble</a></li>
                      <li><a :href="links.instagram.link" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-instagram"></i>
                          Instagram</a></li>
                      <li><a :href="links.linkedin.link" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-linkedin"></i>
                          Linkedin</a></li>
                    </ul>

                  </div>
                </div>
              </div>
            </section>
            <section class="section pt-0 pb-0" id="aboutmecontent">
              <h1>Olá,<br>
                meu nome é<br>
                Samuel Barbosa<br></h1>
              <p>
                Eu sou programador. Minha maior paixão é o desenvolvimento para Web, mas não me limito apenas a isso. Eu
                me
                dedico bastante ao front-end. Também fico super interessado quando o assunto é Design de experiência do
                usuário
                e interface do usuário.
              </p>
              <p>
                Odeio ser clichê, mas eu sou programador viciado em café.
              </p>
            </section>
          </div>
          <div class="column">
            <section class="section pb-0 pt-3" id="habilidades">
              <div class="tablecontainer">
                <table>
                  <tr>
                    <td colspan="2" class="table-title">Habilidades</td>
                  </tr>
                  <tr>
                    <td class="table-subtitle">Habilidade</td>
                    <td class="table-subtitle">Nível</td>
                  </tr>
                  <tr v-for="habilidade in habilidades" class="table-habilidade">
                    <td class="table-item">{{habilidade.habilidade}}</td>
                    <td class="table-item">
                      <i class="fas fa-sm fa-star" :class="{'has-text-danger': index < habilidade.nivel}"
                        v-for="(star, index) in 5"></i>
                    </td>
                  </tr>
                </table>
              </div>
            </section>




          </div>
        </div>

        <div class="columns">
          <div class="column">
            </section>

            <section class="section pb-0" id="formacao">
              <div class="tablecontainer">
                <table>
                  <tr>
                    <td colspan="2" class="table-title">Formação</td>
                  </tr>
                  <tr>
                  </tr>
                  <tr v-for="item in formacao" class="table-habilidade">
                    <td class="table-item"><b>{{item.titulo}}</b><br><span
                        style="color: inherit; font-size: 0.8rem; color: #999999;">{{item.instituicao}}
                        ({{item.periodo}})</span>
                    </td>
                  </tr>
                </table>
              </div>
            </section>
          </div>
          <div class="column">
            <section class="section pb-0" id="Idiomas">
              <div class="tablecontainer">
                <table>
                  <tr>
                    <td colspan="2" class="table-title">Idiomas</td>
                  </tr>
                  <tr>
                    <td class="table-subtitle">Língua</td>
                    <td class="table-subtitle">Nível</td>
                  </tr>
                  <tr v-for="idioma in idiomas" class="table-habilidade">
                    <td class="table-item">{{idioma.idioma}}</td>
                    <td class="table-item">
                      <i class="fas fa-sm fa-star" :class="{'has-text-danger': index < idioma.nivel}"
                        v-for="(star, index) in 5"></i>
                    </td>
                  </tr>
                </table>
              </div>
          </div>
        </div>

        <section class="section has-text-centered" id="contato">
          <h1 class="py-3">Eai, vamos trabalhar juntos?</h1>
          <h2 class="pb-5 has-text-grey-lighter">Manda uma mensagem<br>...eu não mordo!</h2>
          <div class="contatolinks">
            <!-- <a href="" target="_blank" rel="noopener noreferrer"><i class="fas fa-2x fa-envelope mx-3"></i></a> -->
            <a class="button is-success is-large is-rounded is-hidden-mobile" :href="links.whatsapp.link"
              target="_blank" rel="noopener noreferrer"><i class="fab fa-2x fa-whatsapp mr-3"></i> Enviar mensagem</a>
            <a class="button is-success is-rounded is-hidden-tablet" :href="links.whatsapp.link" target="_blank"
              rel="noopener noreferrer"><i class="fab fa-2x fa-whatsapp mr-3"></i> Enviar mensagem</a>
            <!-- <a href="" target="_blank" rel="noopener noreferrer"><i class="fas  fa-2x fa-phone mx-3"></i></a> -->
          </div>
          <div>
            <h2 class="has-text-grey-lighter">
              <br>
              Email: samuk@duckdev.co <br>Celular: (13) 9 7810 5484
            </h2>

          </div>
        </section>


      </div>

      <footer class="footer has-background-dark has-text-centered pb-6">
        <h1>Página desenvolvida por mim com muito
          carinho.<br>Volte sempre!
        </h1>
      </footer>


    </div>

    <div class="floatingbar is-hidden-touch">
      <!-- <a class="floating-item" :href="links.email.link" target="_blank" rel="noopener noreferrer"><i
          class="fas fa-2x fa-envelope"></i></a> -->
      <a class="floating-item" :href="links.whatsapp.link" target="_blank" rel="noopener noreferrer"><i
          class="fab fa-2x fa-whatsapp"></i></a>
    </div>

    <!-- MENU OVERLAY -->
    <div class="menuoverlay">
      <transition name="slide-fade">
        <div class="menu-overlay-menu" v-if="menuIsVisible">
          <ul>
            <li onclick="rolarPara('#home')" @click="menuIsVisible = false">Home</li>
            <li @click="menuIsVisible = false"><a :href="links.dribbble.link" target="_blank"
                rel="noopener noreferrer">Portfolio<i
                  class="fas fa-sm fa-external-link-alt has-text-grey-light"></i></a> </li>
            <li onclick="rolarPara('#aboutmecard')" @click="menuIsVisible = false">Sobre mim</li>
            <li onclick="rolarPara('#habilidades')" @click="menuIsVisible = false">Habilidades</li>
            <li onclick="rolarPara('#contato')" @click="menuIsVisible = false">Contato</li>
            <li onclick="rolarPara('#contato')" @click="menuIsVisible = false">
              <a class="aicon" :href="links.linkedin.link" target="_blank" rel="noopener noreferrer"><i
                  class="fab fa-lg fa-linkedin-in  has-text-dark"></i></a>
              <a class="aicon" :href="links.whatsapp.link" target="_blank" rel="noopener noreferrer"><i
                  class="fab fa-lg fa-whatsapp has-text-dark"></i></a>
              <a class="aicon" :href="links.dribbble.link" target="_blank" rel="noopener noreferrer"><i
                  class="fab fa-lg fa-dribbble has-text-dark"></i></a>
            </li>
          </ul>
        </div>
      </transition>
      <transition name="fade">
        <div @click="menuIsVisible = !menuIsVisible" class="menu-overlay-esquerda" v-if="menuIsVisible"></div>
      </transition>
    </div>


  </div>
  <script src="assets/js/vue.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/jquery.js"></script>
  <script>
    function proximo() {
      $('#galeria').animate({ scrollLeft: "+=" + ($('.card-galeria').width() + 16) }, 500);
    }
    function anterior() {
      $('#galeria').animate({
        scrollLeft: "-=" + ($('.card-galeria').width() + 16)
      }, 500);
    }



    function rolarPara(elemento) {
      $('html, body').animate({
        scrollTop: $(elemento).offset().top - 50
      }, 700);
    }
  </script>
</body>

</html>