*{
  box-sizing: border-box;
}
.galeria{
  padding: 2rem; 
}
 .header-galeria{
    width: 100%;
  display: flex;
  
  justify-content: space-between;
  padding: 1rem 0;
  }
  .conteudo-galeria{
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: scroll;

  }
  .conteudo-galeria::-webkit-scrollbar{
    display: none;
  }
  
 
  .card-galeria{
   
    margin-right: 1rem;
    height: 156px;
    min-width: 156px;
    
    padding: 0;
  }
  .br-cardimage{
    border-radius: 3px;
    opacity: 0.8;
  }
@media only screen and (max-width: 768px){
  .galeria{
    padding-right: 0;
    padding-left: 0;
  }
  .card-galeria{
    scroll-snap-align: start;
  }
  .card-galeria:first-child{
    margin-left: 1rem;
  }
  .card-galeria:last-child{
    margin-right: 1rem;
  }
 
  .conteudo-galeria{
    min-height: 30vh;
    scroll-padding-left: 1rem;
    scroll-snap-type: x mandatory;
  }
    .header-galeria{
      padding: 1rem;
      align-items: flex-end;}
}

  @media only screen and (min-width: 768px){
    .card-galeria{
      
      height: 196px;
      min-width: 196px;
    }
  
  }
 @media only screen and (min-width: 768px) and (max-width: 1024px){
  .conteudo-galeria{
    background-color: #212121 !important;
  }
  .previus, .next{
    background-color: #505050;
  }
 }
  @media only screen and (min-width: 768px){
    .card-galeria{
      
      height: 208px;
      min-width: 208px;
    }

  .conteudo-galeria{
    background-color: #232323;
    padding: 1rem;
  }

  }

  .containerdocontainer{
    display: flex;
    border-radius: 3px;
  }
  .previous, .next{
    width: 50px;
    padding: 1rem;
    height: 240px;
    background-color: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    cursor: pointer;
    border-radius: 3px;
  }
 
