*{
  box-sizing: border-box;
}
.galeria{
  padding: 2rem; 
}
 .header-galeria{
    width: 100%;
  display: flex;
  
  justify-content: space-between;
  padding: 1rem 0;
  }
  .conteudo-galeria{
    
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .conteudo-galeria::-webkit-scrollbar{
    display: none;
  }
  
  .card-galeria{
    
    margin-right: 1rem;
    height: 156px;
    min-width: 156px;
    scroll-snap-align: start;
    padding: 0;
  }
  .br-cardimage{
    border-radius: 1rem;
  }
@media only screen and (max-width: 768px){
  .conteudo-galeria{
    height: 30vh;
  
  }
    .header-galeria{
      height: 20vh;
      align-items: flex-end;}
}
  @media only screen and (min-width: 768px){
    .card-galeria{
      
      height: 196px;
      min-width: 196px;
    }
  
  }
  @media only screen and (min-width: 1024px){
    .card-galeria{
      
      height: 208px;
      min-width: 208px;
    }
  
  }