@keyframes slideTopBottom{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes slideRightLeft{
  0%{
    transform: translateX(+100%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes slideLeftRight{
  0%{
    transform: translateX();
  }
  100%{
    transform: translateX(+100);
  }
}

@keyframes appear{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .4s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(20%);
  opacity: 0;
}

.fade-enter-active {
  transition: opacity .4s ease;
}
.fade-leave-active{
  transition: opacity .1s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-fade-top-enter-active {
  transition: all .4s ease;
}
.slide-fade-top-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-top-enter, .slide-fade-top-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-30%);
  opacity: 0;
}
