*, *::after, *::before{
  box-sizing: border-box;
  font-family: Open Sans;
}

body{
  background-color: #202020;
  color: #f5f5f5;
  overflow-x: hidden;
  
}

/* NAVBAR*/
nav ul li {
  display: inline;
}
nav ul li a{
  max-height: 2rem;
}
.navbar{
  z-index: 100;
  background-color: transparent;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.bg-sticky{
  z-index: 2;
  width: 100%;
  height: 4rem;
  background: #303030;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  display: none;
}
.sticky-active{
  display: block;
}


/* HOME */
#home{
  padding-top: 6rem;
  background: url(../img/bg_mobile.png) no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
  

}
#home h1{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 5%;
  margin-bottom: 1rem;
}

#home h3{
  font-size: 1rem;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: 15%;
  color: #606060;
}

/* Prévia Portfolio */
.header-portfolio{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#card-container::-webkit-scrollbar{
  display: none;
  
}
#card-container{
  display: flex;
  overflow-x: auto;
  padding-right: 20rem;

}
.card-projeto{
  height: 35vh;
  min-width: 25vh;
  margin-right: 2rem;
  background-color: lightcoral;
  border-radius: 1rem;
  background:url(/assets/img/cards/1.png) no-repeat center;
  background-size:cover;
}
.finalspace{
  height: 35vh;
  min-width: 0.05rem;
}

/* ABOUT ME */
.me-photo{
  border-radius: 50%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.card-me{
  background: #252525;
}
.media-links{
  letter-spacing: 10%;
  line-height: 200%;
}
.media-links a{
  color: inherit;
}
.media-links svg{
  margin-right: 1rem;
}
.coluna-imagem{
  display: flex;
  justify-content: center;
  align-content: center;
}
.coluna-imagem img{
  border-radius: 50%;
}

#aboutmecontent{
  padding: 3rem;
}
#aboutmecontent h1{
  font-weight: 600;
  font-size: 1.75rem;
  letter-spacing: 5%;
}
#aboutmecontent p{
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 180%;
  letter-spacing: 5%;
  color: #999999;
}

/* DUCKDEV */
#duckdev{
  background: #252525;
}

#duckdev columns{
  display: flex;
}
#duckdev .button{
  width: 100%;
}

/* HABILIDADES */

table{
  width: 100%;
  text-align: center;
  
}
.tablecontainer{
  padding: 2rem 1rem;
  background-color: #252525;
}
table td{
  box-sizing: border-box;
  width: 50%;
  padding: 1rem 1rem;
  margin: 2rem;
}
table tr{
  margin: 5rem;
  background-color: #252525;
}
.table-title{
  font-size: 1.2rem;
  vertical-align: middle;
  align-self: center;
  font-weight: 600;
}

.table-subtitle{
  font-size: 0.8rem;
  font-weight: 600;
}
.table-item svg{
  font-size: 0.7rem;
  padding: 0px;
  margin: 0px;
  color: #707070;
}
.star{
  display: inline;
  margin: 0px;
  padding: 0px;
}

.table-habilidade:nth-child(even) {}
.table-habilidade:nth-child(odd) {background: #282828}

#contato img{
  height: 50%;
  width: 50%;
}

#contato h1{
  font-size: 1.8rem;
  font-weight: 800;
}
#contato h3{
  font-size: 1rem;
  color: #808080;
}

#contato .contatolinks{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#contato .contatolinks a{
  color: inherit;
}


/* MENU OVERLAY */
.menu-overlay{
  width:  100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  z-index: 99;
  box-sizing: border-box;
  overflow: hidden;
}

.menu-overlay-menu{
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #d7d7d7;
  color: #101010;
  line-height: 400%;
  letter-spacing: 8%;
  padding: 2rem;
  box-shadow: -4px 0px 20px rgba(16, 16, 16, 0.2);
  z-index: 2;
}
.menu-overlay-menu ul li:hover{
  cursor: pointer;
}
.menu-overlay-menu ul li svg{
  max-height: 1rem;
  max-width: 1rem;
}
.menu-overlay-menu ul li:last-child{
  display: flex;
  margin-top: 1rem;
}
.menu-overlay-menu ul li a{
  border: 2px solid #909090;
  max-height: 5rem;
  max-width: 5rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  border-radius: 50%;
}
.menu-overlay-esquerda{
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101010;
  opacity: 0.3;
  z-index: 1; 
}






