*, *::after, *::before{
  box-sizing: border-box;
  font-family: Open Sans;
}

body{
  background-color: #191919;
  color: #f5f5f5;
  overflow-x: hidden;
}
@media only screen and (max-width: 1024px){
  body{
    background-color: #181818;
  }
}
@media only screen and (max-width: 1024px){
  #home, #home1{
    background: url('/assets/img/bgdobagulhomobile.png') no-repeat !important;
    background-position: right center !important;
    background-size: contain !important;
  }
}
@media only screen and (min-width: 1025px){
  #home, #home1{
    background: url('/assets/img/bgdobagulho.png') no-repeat !important;
    background-position: top center !important;
    background-size: contain !important;
  }
}


/* NAVBAR*/
nav{
  z-index: 97;
}
nav ul li {
  display: inline;
}
nav ul li a{
  max-height: 2rem;
}
.navbar{
  position: relative;
  z-index: 999;
  background-color: transparent;
  top: 0;
  left: 0;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.bg-sticky{
  z-index: 2;
  width: 100%;
  height: 4rem;
  background: #303030;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  display: none;
}
.sticky-active{
  display: block;
}


/* HOME */

#home{
  padding-top: 2;
  background-size: cover;
  min-height: 50vh;
  padding-top: 5rem;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 767px) and (max-width:1023px){
  #home{
    padding-left: 6rem;

  }
}
@media only screen and (min-width: 768px){
  #home{
    padding-top: 0rem;
  }
}
#home h1{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 5%;
  margin-bottom: 1rem;
}

#home h2{
  font-size: 1rem;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: 15%;
  color: #606060;
}


/* ABOUT ME */

.aboutmecardcontainer{
  margin-top: 1px;
  padding: 2rem 1rem;
}
@media only screen and (min-width:1025px){
  .card-me{
    background: #252525;
  }
}

@media only screen and (max-width:1024px){
  .card-me{
    background: #212121;
  }
}
.media-links{
  letter-spacing: 10%;
  line-height: 200%;
}
.media-links a{
  color: inherit;
}
.media-links svg{
  margin-right: 1rem;
}
.coluna-imagem{
  display: flex;
  justify-content: center;
  align-content: center;
}
.coluna-imagem img{
  border-radius: 50%;
}

@media only screen and (max-width: 340px){
  .media-links{
    font-size: 0.9rem;
    
  }
}

#aboutmecontent{
  padding: 3rem;
}
#aboutmecontent h1{
  font-weight: 600;
  font-size: 1.75rem;
  letter-spacing: 5%;
}
#aboutmecontent p{
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 180%;
  letter-spacing: 5%;
  color: #999999;
}

/* DUCKDEV */
#duckdev{
  background: #252525;
}

#duckdev columns{
  display: flex;
}
#duckdev .button{
  width: 100%;
}

/* HABILIDADES */

table{
  width: 100%;
  text-align: center;
  
}
.tablecontainer{
  padding: 2rem 1rem;
}
@media only screen and (min-width:1025px){
  .tablecontainer{
    background: #252525;
  }
}

@media only screen and (max-width:1024px){
  .tablecontainer{
    background: #212121;
  }
}
table td{
  box-sizing: border-box;
  width: 50%;
  padding: 1rem 1rem;
  margin: 2rem;
}
table tr{
  margin: 5rem;
}
.table-title{
  font-size: 1.2rem;
  vertical-align: middle;
  align-self: center;
  font-weight: 600;
}

.table-subtitle{
  font-size: 0.8rem;
  font-weight: 600;
}
.table-item svg{
  font-size: 0.7rem;
  padding: 0px;
  margin: 0px;
  color: #707070;
}
.star{
  display: inline;
  margin: 0px;
  padding: 0px;
}


@media only screen and (min-width:1025px){

  .table-habilidade:nth-child(odd) {background: #282828}

}

@media only screen and (max-width:1024px){
  .table-habilidade:nth-child(odd) {background: #232323}
}

#contato img{
  height: 50%;
  width: 50%;
}

#contato h1{
  font-size: 1.8rem;
  font-weight: 800;
}
#contato h2{
  font-size: 1rem;
  opacity: 0.75;
}

#contato .contatolinks{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#contato .contatolinks a{
  color: inherit;
}


/* MENU OVERLAY */
.menu-overlay{
  width:  100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  z-index: 99;
  box-sizing: border-box;
  overflow: hidden;
}

.menu-overlay-menu{
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #d7d7d7;
  color: #101010;
  line-height: 400%;
  letter-spacing: 8%;
  padding: 2rem;
  box-shadow: -4px 0px 20px rgba(16, 16, 16, 0.2);
  z-index: 2;
}
.menu-overlay-menu ul li:hover{
  cursor: pointer;
}
.menu-overlay-menu ul li svg{
  max-height: 1rem;
  max-width: 1rem;
}
.menu-overlay-menu ul li:last-child{
  display: flex;
  margin-top: 1rem;
}
.menu-overlay-menu ul li a{
  color: inherit;
}
.aicon{
  border: 2px solid #909090;
  max-height: 5rem;
  max-width: 5rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  border-radius: 50%;
}
.menu-overlay-esquerda{
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101010;
  opacity: 0.3;
  z-index: 1; 
}

@media only screen and (min-width: 1024px) and (max-width: 2560px) {
#home1{
  padding-top: 2rem;
  height: 80vh;
}
}
@media only screen and (min-width: 1025px) {
#containerpai
{
 margin-top: -15vh;
}
}
@media only screen and (min-width: 1024px) {
   #containerpai{
  width: 100%;
  min-height: 50vh;
  background: #212121;
  padding: 5rem;
  border-radius: 3px;
   }
#home1{
  padding-top: 2rem;

  height: 80vh;
}
#home{
  background: none;
  padding-bottom: 10vh;
}

#home{
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
}
#home h1{
  font-size: 3rem;
  font-weight: bolder;
  line-height: 140%;
  letter-spacing: 0.35rem;
  margin-bottom: 1rem;
}

#home h2{
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: 15%;
  letter-spacing: 0.2rem;
  color: #909090;
}
#home ul li{
  display: flex;
}
#home ul li a{
border: 2px solid #909090;
max-height: 5rem;
max-width: 5rem;
padding: 0.25rem;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-right: 1rem;
border-radius: 50%;
}

#home ul li svg{
  margin: 0.5rem;
  height: 2rem;
  width: 2rem;
}

#home .medialinks{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#card-container{
  display: flex;
  overflow-x: auto;
  height: 24vh;
  overflow-y: hidden;
  margin: 1rem;

}
#card-container::-webkit-scrollbar{
  display: none;

}

/* IMAGENS 800x600 */
.card-projeto{
  height: 24vh;
  width: 20vh;
  margin-right: 2rem;
  border-radius: 1rem;
  background: url(../img/cards/1.png);
  background-position: center;
  background-size: cover;
}

.floatingbar{
  z-index: 9999;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.floating-item{
  background-color: hsl(348, 100%, 61%);
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1rem;
  transition: 0.35s ease-out;
  color: inherit;
}

.floating-item:hover{
 background: hsl(348, 100%, 58%);
  transform: scale(1.15);
  color: inherit;
}
  }


  .container-my{
    margin: 0 auto;}
    @media screen and (min-width: 1088px) {
      .container-my {
        max-width: 960px;
        width: 960px; }
        .container-my.is-fluid {
          margin-left: 64px;
          margin-right: 64px;
          max-width: none;
          width: auto; } }
    @media screen and (max-width: 1279px) {
      .container-my.is-widescreen {
        max-width: 1152px;
        width: auto; } }
    @media screen and (max-width: 1471px) {
      .container-my.is-fullhd {
        max-width: 1344px;
        width: auto; } }
    @media screen and (min-width: 1280px) {
      .container-my {
        max-width: 1152px;
        width: 1152px; } }
    @media screen and (min-width: 1472px) {
      .container-my {
        max-width: 1344px;
        width: 1344px; } }

        footer h1{
          font-size: 0.8rem; color: #f1f1f1; line-height: 1.5rem;
          opacity: 0.85;
        }